<footer>
  <div class="footer-copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="footer-social">
                      <a href="#" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                      <a href="#" title="Facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
                      <a href="#" title="Instagram"><i class="fab fa-instagram fa-fw"></i></a>
                      <a href="#" title="Dribbble"><i class="fab fa-dribbble fa-fw"></i></a>
                      <a href="#" title="Pinterest"><i class="fab fa-pinterest fa-fw"></i></a>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <p class="copyright">
                      Copyright © 2020 <a href="#" target="_blank">Zook</a>
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>
