<p class="lead secondFontColor my-4">
  Welcome to version 3 of The Movie Database (TMDb) API. Below you will find a current list of the available methods on
  our movie, tv, actor and image API.
</p>
<div class="text-center lead secondFontColor">
  <h2>Let's talk about TMDb</h2>
  <p>
    The Movie Database (TMDb) is a community built movie and TV database. Every piece of data has been added by our
    amazing community dating back to 2008. TMDb's strong international focus and breadth of data is largely unmatched
    and
    something we're incredibly proud of. Put simply, we live and breathe community and that's precisely what makes us
    different.
  </p>
  <h4>
    The TMDb Advantage
  </h4>
</div>
<div class="row my-1 secondFontColor">
  <div class="col-md-1 bgLight centerEveryWhere">
    <span class="h1">1</span>
  </div>
  <div class="col-md-11">
    <span>
      Every year since 2008, the number of contributions to our database has increased. With over 200,000 developers
      and
      companies using our platform, TMDb has become a premiere source for metadata.
    </span>
  </div>
</div>
<div class="row my-1 secondFontColor">
  <div class="col-md-1 bgLight centerEveryWhere">
    <span class="h1">2</span>
  </div>
  <div class="col-md-11">
    <span>
      Along with extensive metadata for movies, TV shows and people, we also offer one of the best selections of high
      resolution posters and fanart. On average, over 1,000 images are added every single day.
    </span>
  </div>
</div>
<div class="row my-1 secondFontColor">
  <div class="col-md-1 bgLight centerEveryWhere">
    <span class="h1">3</span>
  </div>
  <div class="col-md-11">
    <span>
      We're international. While we officially support 39 languages we also have extensive regional data. Every single
      day
      TMDb is used in over 180 countries.
    </span>
  </div>
</div>
<div class="row my-1 secondFontColor">
  <div class="col-md-1 bgLight centerEveryWhere">
    <span class="h1">4</span>
  </div>
  <div class="col-md-11">
    <span>
      Our community is second to none. Between our staff and community moderators, we're always here to help. We're
      passionate
      about making sure your experience on TMDb is nothing short of amazing.
    </span>
  </div>
</div>
<div class="row my-1 secondFontColor">
  <div class="col-md-1 bgLight centerEveryWhere">
    <span class="h1">5</span>
  </div>
  <div class="col-md-11">
    <span>
      Trusted platform. Every single day our service is used by millions of people while we process over 3 billion
      requests.
      We've proven for years that this is a service that can be trusted and relied on.
    </span>
  </div>
</div>

<p class="lead secondFontColor my-4">
  <b>Please note</b> that the API registration process is not optimized for mobile devices so you should access these
  pages on
  a desktop computer and browser.
</p>
