<%- include ('navbar.ejs') %> 

<div class="container my-5">
  <form action="/addArticle" method="post" class="text-left">
    <label class="font-weight-bold">Article Title:</label>
    <input class="form-control" placeholder="Title" name="title" type="text" maxlength="20">
    <label class="font-weight-bold mt-3">Article:</label>
    <textarea class="form-control" placeholder="Article" name="article" type="text" rows="10"></textarea>
    <button class="btn btn-danger w-100 mt-5">Add Article</button>
  </form>
</div>

<%- include ('footer.ejs') %> 