<div class="row my-2">
  <div class="col-md-4 col-sm-12">
    <div class="brdr w-25 my-5"></div>
    <h2>In Theatre</h2>
    <br>
    <h2>To Watch Now!</h2>
    <div class="brdr w-100 my-3"></div>
  </div>
  <div *ngFor='let movie of moviesTrending' class="col-md-2 col-sm-4 col-4">
    <div class="moviesTrending my-3 position-relative" [routerLink]="['/details', movie.media_type, movie.id]">
      <img [src]="imgPrefix+movie.poster_path" class="img-thumbnail h-190px curPointer">
      <h3 class="h6 mt-2">{{movie.name}}{{movie.title}}</h3>
      <div class="vote">
        {{movie.vote_average}}
      </div>
    </div>
  </div>
</div>
