<div class="row my-2">
  <div class="col-md-4">
    <div class="brdr w-25 my-5"></div>
    <h2>On TV</h2>
    <br>
    <h2>To Watch Now!</h2>
    <div class="brdr w-100 my-3"></div>
  </div>
  <div *ngFor='let tvShow of tvTrending' class="col-md-2">
    <div class="allTrending my-3 position-relative" [routerLink]="['/details', tvShow.media_type, tvShow.id]">
      <img [src]="imgPrefix+tvShow.poster_path" class="img-thumbnail h-190px curPointer">
      <h3 class="h6 mt-2">{{tvShow.name}}{{tvShow.title}}</h3>
      <div class="vote">
        {{tvShow.vote_average}}
      </div>
    </div>
  </div>
</div>
